{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Events</h2>

    {% if events %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Class</th>
                <th>Stage</th>
            </tr>
        </thead>
        <tbody>
            {% for e in events %}
            <tr>
                <td><a class="link" href="/event/{{ e.id }}">#{{ e.id }}</a></td>
                <td>{{ e.name }}</td>
                <td>{{ e.class_name }}</td>
                <td>{{ e.race_stage }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No events found.</p>
    {% endif %}
</div>
{% endblock %}
