{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>{{ rider.mxb_name or rider.discord_name or "Rider Profile" }}</h2>

    <table>
        <tbody>
            <tr>
                <th>Discord</th>
                <td>{{ rider.discord_name or rider.discord_id }}</td>
            </tr>
            <tr>
                <th>MX Bikes Name</th>
                <td>{{ rider.mxb_name or "-" }}</td>
            </tr>
            <tr>
                <th>Steam ID</th>
                <td>{{ rider.steam_id or "-" }}</td>
            </tr>
            <tr>
                <th>GUID</th>
                <td>{{ rider.guid or "-" }}</td>
            </tr>
            <tr>
                <th>GUID Status</th>
                <td>{{ rider.guid_status or "-" }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ rider.class_name or "-" }}</td>
            </tr>
            <tr>
                <th>Team</th>
                <td>{{ rider.team_name or "-" }}</td>
            </tr>
            <tr>
                <th>Rider Number</th>
                <td>{{ rider.rider_number or "-" }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ rider.approved }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
